@model IEnumerable<Paket>;
@{
    Layout = "_AdminLayout";
}
<div class="page-header">
    <h1 class="page-title">Data Paket</h1>
    <nav aria-label="breadcrumb">
        <ol class="breadcrumb">
            <li class="breadcrumb-item"><a sp-controller="Home" asp-action="Index">Home</a></li>
            <li class="breadcrumb-item active" aria-current="page"> Data Paket</li>
        </ol>
    </nav>
</div>
<a class="nav-link" asp-action="CreatePaket">
    <i class="mdi mdi-plus menu-icon"> </i>
    <span class="menu-title">Buat Paket Baru</span>
</a>
<div class="col-lg-12 grid-margin stretch-card">
    <div class="card">
        <div class="card-body">
            <div class="table-responsive">
                <div class="card-header">
                </div>
                <table class="table table-striped">
                    <thead>
                        <tr>
                            <th>ID Paket</th>
                            <th>Nama Paket</th>
                            <th>Lama Peminjaman</th>

                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var item in Model)
                        {
                            <tr>

                                <td>
                                    @item.Id_Paket
                                </td>
                                <td>
                                    @item.NamaPaket
                                </td>
                                <td>
                                    @item.LamaPeminjaman
                                </td>

                                <td>
                                    <a asp-controller="Paket" asp-action="Ubah" asp-route-id="@item.Id_Paket"><i class="mdi mdi-pencil-box menu-icon" style="color:dodgerblue"></i></a>
                                    <a asp-action="Details" asp-route-id="@item.Id_Paket"><i class="mdi mdi-eye menu-icon" style="color:dodgerblue"></i></a>
                                    <a asp-action="Hapus" asp-route-id="@item.Id_Paket" title="Keluar" style="color:red"
                                       onclick="if (!confirm('Yakin Akan Menghapus Data Ini ? ')) { return false;}"><i class="mdi mdi-delete menu-icon" style="color:dodgerblue"></i></a>
                                </td>
                            </tr>

                        }
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>
