@model IEnumerable<Supir>
@{
    Layout = "_AdminLayout";
}
<div class="page-header">
    <h1 class="page-title">Data Supir</h1>
    <nav aria-label="breadcrumb">
        <ol class="breadcrumb">
            <li class="breadcrumb-item"><a href="#">Home</a></li>
            <li class="breadcrumb-item active" aria-current="page"> Data Supir</li>
        </ol>
    </nav>
</div>
<a class="nav-link" asp-action="CreateSupir">
    <i class="mdi mdi-plus menu-icon"> </i>
    <span class="menu-title">Buat Data Supir Baru</span>
</a>

<div class="col-lg-12 grid-margin stretch-card">
    <div class="card">
        <div class="card-body">
            <div class="table-responsive">
                <div class="card-header">
                </div>
                <table class="table table-striped">
                    <thead>
                        <tr>
                            <th>ID Supir</th>
                            <th>Nama Supir</th>
                            <th>Alamat</th>
                            <th>Harga Perhari</th>
                            <th>status</th>

                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var item in Model)
                        {
                            <tr>
                                <td>
                                    @item.Id_Supir
                                </td>
                                <td>
                                    @item.NamaSupir
                                </td>
                                <td>
                                    @item.Alamat
                                </td>
                                <td>
                                    @item.HargaPerhari
                                </td>
                                <td>
                                    @item.status
                                </td>

                                <td>
                                    <a asp-action="Ubah" asp-route-id="@item.Id_Supir">Edit</a>
                                    <a asp-action="Details" asp-route-id="@item.Id_Supir">Details</a>
                                    <a asp-action="Hapus" asp-route-id="@item.Id_Supir" title="Keluar" style="color:red"
                                       onclick="if (!confirm('Yakin Akan Menghapus Data Ini ? ')) { return false;}">Delete</a>
                                </td>
                            </tr>

                        }
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>